body {
    border: 2px solid red;
    justify-content: center;
    align-items: center;
    height: 90vh;
    margin: 0;
}

#main {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    border: 2px solid black;
    margin: 20px 10px;
    height: 80%;

}
#Error{
    margin: 5px 10px;
    height: 10%;
}
div{
    border: 2px solid red;
}
.fr{
    height: 80%;
}
form {
    border: 2px solid red;
    width: 20vw;
    padding: 10px;

}

form input {
    margin: 10px;
}

table {
    /* border: 2px solid green; */
    border-collapse: collapse;
    width: 60vw;
}

table,
th,
td {
    border: 1px solid black;
}

th,
td {
    padding: 10px;
    text-align: left;
}